@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lato:wght@300;400&display=swap');

*{
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #c75702;

    font-family: 'IBM Plex Sans', sans-serif;
    color: #ffffff;
}

.nav ul{
    margin-top: 1%;
    margin-right: 0;
    padding-left: 0;
    list-style: none;
    text-align: right;
    padding-bottom: 20px;
    cursor: pointer;
}

.nav, .nav a{
    color: #ffffff;
    height: 30px;
    animation-name: menu-navegation;
    animation-duration: 1.5s;
    padding-top: 0;
    padding-bottom: 1%;
}

.nav a:hover{color: #69265c; transition: 1.2s;}

.nav li{
    display: inline-block;
    margin-right: 2%;
    padding-left: 0;
    padding-right: 1%;
    padding-top: 0;
    line-height: 30px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
}

.nav li:visited{ color: #ffffff;}

.nav li.threeline {display: none;}

.nav li.threeline:hover{
    color: #274f69;
    cursor: pointer;
}

.capa{ color: #ffffff;}

.capa span{
    background-image: linear-gradient(220deg, #274f69 50%, #19232b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.capa div{
    margin-top: 8%;
    display: inline-block;
    height: 400px;
}

.profile-pic{
    width: 40%;
    text-align: center;
    animation-name: profile-capa;
    animation-duration: 3s;
}

.profile-title{
    vertical-align: top;
    width: 59%;
    animation-name: profile-titulo;
    animation-duration: 3s;
}

.profile-pic img{
    width: 310px;
    border-radius: 300px;
    size-adjust: 100%;
}

.profile-title h1{
    font-size: 60px;
    margin-top: 80px;
    margin-right: 3%;
    font-weight: 600;
    line-height: 1em;
}

.profile-title h2{
    font-size: 20px;
    font-weight: 100;
    margin-top: -35px;
}

.main{
    padding: 3% 6% 0 5%;
    animation-name: conteudo;
    animation-duration: 2s;
}

.main h1{
    color: #ffffff;
    font-weight: normal;
}

.main h2{
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #69265c;
    margin-top: 2.5%;
}

.main h3{
    font-size: 14px;
    text-transform: uppercase;
    color: #69265c;
    margin-bottom: -10px;
}

.main p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
    text-align: justify;
}