@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lato:wght@300;400&display=swap');

*{
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
}
html,
body{
    margin: 0px;
    padding: 0px;
    background-color: #c75702;

    font-family: 'IBM Plex Sans', sans-serif;
    color: #ffffff;
}

.navigation ul{
    margin-top: 1%;
    margin-right: 0;
    padding-left: 0;
    list-style: none;
    text-align: right;
    padding-bottom: 20px;
    cursor: pointer;
}

.navigation{
    color: #ffffff;
    height: 30px;
    animation-name: menu-navegation;
    animation-duration: 1.5s;
    padding-top: 0;
    padding-bottom: 1%;
}

.navigation li{
    display: inline-block;
    margin-right: 2%;
    padding-left: 0;
    padding-right: 1%;
    padding-top: 0;
    line-height: 30px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
}

.navigation a{ color: #ffffff;}

.navigation li:visited{ color: #ffffff;}

.navigation a:hover{ color: #69265c; transition: 1.2s;}

.navigation li.threeline{ display: none;}

.navigation li.threeline:hover{
    color: #274f69;
    cursor: pointer;
}

.capa{ color: #ffffff;}

.capa span{
    background-image: linear-gradient(220deg, #274f69 50%, #19232b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.capa div{
    margin-top: 8%;
    display: inline-block;
    height: 400px;
}

.profile-pic{
    width: 40%;
    text-align: center;
    animation-name: profile-capa;
    animation-duration: 3s;
}

.profile-title{
    vertical-align: top;
    width: 59%;
    animation-name: profile-titulo;
    animation-duration: 3s;
}

.profile-pic img{
    width: 310px;
    border-radius: 300px;
    size-adjust: 100%;
}

.profile-title h1{
    font-size: 56px;
    margin-top: 60px;
    margin-right: 3%;
    font-weight: 600;
    line-height: 1em;
}

.profile-title h2{
    font-size: 20px;
    font-weight: 100;
    margin-top: -35px;
}

.main{
    padding: 3% 6% 0 5%;
    animation-name: conteudo;
    animation-duration: 2s;
}

.main h1{
    color: #ffffff;
    font-weight: normal;
}

.main h2{
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #69265c;
    margin-top: 2.12%;
}

.main h3{
    font-size: 14px;
    text-transform: uppercase;
    color: #69265c;
    margin-bottom: -10px;
}

.main p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
    text-align: justify;
}

.cv-pic2{
    float: left;
    width: 135px;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 0.5%;
    border-radius: 7%;
    position: relative;
    display: block;
    word-break: normal;
}

.link-oportunidade{ color: #ffffff;}

.link:hover{ color:#69265c}

.cv-pic2:hover{ opacity: 0.7; transition: 0.2s;}

.sobre p{ text-align: left; word-spacing: 10px;}

.link-contato{ color: rgb(255, 255, 255);}

.link-contato:hover{ color: #274f69; font-size: 18px;}

.perfil{
    line-height: 16px;
    font-size: 14px;
    padding-bottom: 1%;
    text-align: left;
}

.lista-conhecimento{
    color: #ffffff;
    font-size: 14px;
    margin-top: -1em;
    margin-bottom: 1em;
    text-align: left;
}

.lista-conhecimentos li{
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 22px;
}
s
.lista-conhecimentos a{
    font-size: 16px;
    color: #ffffff;
}

.social-img{
    width: 70px;
    margin-top: 3%;
    margin-bottom: 1.6%;
    margin-right: 1%;
}

.social-img-linkedin{
    width: 55px;
    margin-top: 2%;
    margin-bottom: 1.6%;
    margin-right: 1%;
}

.titulo-portfolio{
    padding-top: 5%;
    padding-bottom: 2%;
    margin-left: 2%;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
}

.container{
    display: inline-block;
    margin-left: 0;
    margin-right: 2%;
    text-transform: uppercase;
}
  
.miniatura{
    width: 253px;
    height: 233px;
    border-radius: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    background-size: contain;
    overflow: hidden;
}

.miniatura img{
    max-width: 100%;
    float: left;
}

